{% extends "help/base.html.twig" %}

{% block title %}Cloturer l'année académique{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item">cloturer année</li>
{% endblock %}

{% block titleContent %}
    > Cloturer l'année académique
{% endblock %}

{% block contentTitle %}Cloturer l'année académique{% endblock %}

{% block pageContent %}
    
{% endblock %}