{% extends "help/base.html.twig" %}

{% block title %}Gestion des étudiants{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item">gestion étudiants</li>
{% endblock %}

{% block titleContent %}
    > Gestion des étudiants
{% endblock %}

{% block contentTitle %}Gestion des étudiants{% endblock %}

{% block pageContent %}
    
{% endblock %}