{% extends "help/base.html.twig" %}

{% block title %}{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item">accueil</li>
{% endblock %}

{% block titleContent %}
    > Accueil
{% endblock %}

{% block contentTitle %}Apropos de GetIn{% endblock %}

{% block pageContent %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi ab nulla dolore aperiam! Perspiciatis tempore velit impedit. Velit, aspernatur. Aspernatur neque enim quos, amet hic quo quis aliquid iste?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi ab nulla dolore aperiam! Perspiciatis tempore velit impedit. Velit, aspernatur. Aspernatur neque enim quos, amet hic quo quis aliquid iste?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi ab nulla dolore aperiam! Perspiciatis tempore velit impedit. Velit, aspernatur. Aspernatur neque enim quos, amet hic quo quis aliquid iste?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi ab nulla dolore aperiam! Perspiciatis tempore velit impedit. Velit, aspernatur. Aspernatur neque enim quos, amet hic quo quis aliquid iste?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi ab nulla dolore aperiam! Perspiciatis tempore velit impedit. Velit, aspernatur. Aspernatur neque enim quos, amet hic quo quis aliquid iste?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi ab nulla dolore aperiam! Perspiciatis tempore velit impedit. Velit, aspernatur. Aspernatur neque enim quos, amet hic quo quis aliquid iste?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi ab nulla dolore aperiam! Perspiciatis tempore velit impedit. Velit, aspernatur. Aspernatur neque enim quos, amet hic quo quis aliquid iste?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius commodi ab nulla dolore aperiam! Perspiciatis tempore velit impedit. Velit, aspernatur. Aspernatur neque enim quos, amet hic quo quis aliquid iste?</p>
{% endblock %}