{% extends "help/base.html.twig" %}

{% block title %}Gestion des notes{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item">gestion notes</li>
{% endblock %}

{% block titleContent %}
    > Gestion des notes
{% endblock %}

{% block contentTitle %}Gestion des notes{% endblock %}

{% block pageContent %}
    
{% endblock %}