{% extends "help/base.html.twig" %}

{% block title %}Gestion des paiements{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item">gestion paiements</li>
{% endblock %}

{% block titleContent %}
    > Gestion des paiements
{% endblock %}

{% block contentTitle %}Gestion des paiements{% endblock %}

{% block pageContent %}
    
{% endblock %}