{% extends "help/base.html.twig" %}

{% block title %}Gestion du personnel{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item">gestiu personnel</li>
{% endblock %}

{% block titleContent %}
    > Gestion du personnel
{% endblock %}

{% block contentTitle %}Gestion du personnel{% endblock %}

{% block pageContent %}
    
{% endblock %}