{% extends "help/base.html.twig" %}

{% block title %}Gestion des prgrammes académiques{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item">gestion prgrammes académiques</li>
{% endblock %}

{% block titleContent %}
    > Gestion des prgrammes académiques
{% endblock %}

{% block contentTitle %}Gestion des prgrammes académiques{% endblock %}

{% block pageContent %}
    
{% endblock %}