{% extends "help/base.html.twig" %}

{% block title %}Gestion des statistiques{% endblock %}

{% block fil_ariane %}
    <li class="breadcrumb-item">gestion statistiques</li>
{% endblock %}

{% block titleContent %}
    > Gestion des statistiques
{% endblock %}

{% block contentTitle %}Gestion des statistiques{% endblock %}

{% block pageContent %}
    
{% endblock %}