
<div class="page">
    {% include "document_scolarite/quitus_item.html.twig" with {couponType: 'Coupon Etudiant'} %}
    <hr class="line">
    {% include "document_scolarite/quitus_item.html.twig" with {couponType: 'Coupon DAF'} %}
    <hr class="line">
    {% include "document_scolarite/quitus_item.html.twig" with {couponType: 'Coupon Scolarité'} %}
    <hr class="line">
    {% include "document_scolarite/quitus_item.html.twig" with {couponType: 'Coupon Banque'} %}
</div>
