<div class="modal fade" id="modal-overlay">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="overlay d-flex justify-content-center align-items-center">
				<i class="fas fa-2x fa-sync fa-spin"></i>
			</div>
			<div class="modal-header">
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<p>Opération en cours&hellip;</p>
			</div>
			<div class="modal-footer justify-content-between">
				
			</div>
		</div>
	</div>
</div>